:root {
  --colorSix: #33539e;
}
* {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}
.navbar > .container,
.navbar > .container-fluid {
  justify-content: flex-end;
}
.navbar,
.navbar-brand,
.navbar > .container-fluid {
  padding: 0;
}
.navbar-brand > img {
  height: 60px;
}
.secOne {
  padding: 40px 0;
  background-color: var(--colorSix);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 20px;
}
/* whatsapp */
.whatsapp {
  width: 100%;
  height: 50px;
}
.whatsapp > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  color: var(--bs-success);
  text-decoration: none;
}
.whatsapp > a > img {
  height: 100%;
  margin-left: 10px;
}
